{% extends "base.html" %}
{% block start %}

    <h1>This is Index Page</h1>

    <a href="/contact/">
      Contact
    </a>

    <a href="/about/">
      About
    </a>

    <p class="username">Github @harshakp06</p>
    <p>Check Web page on html</p>
    
    <!-- {{peoples}} -->

    <table class="container">
      <tr>
        <th>S no</th>
        <th>Name</th>
        <th>Age</th>
        <th>Can Vote</th>

      </tr>
      {% for people in peoples %}
      <tr>
        <td>{{forloop.counter}}</td>
        <td>{{people.name}}</td>
        <td>{{people.age}}</td>
        <td {% if people.age < 18 %} style="background: blueviolet" {% endif %}>
          {% if people.age >= 18 %}

          👍

          {% else %}

          👎

          {% endif%}

        </td>

      </tr>
      
      {% endfor %}

    </table> 
    <p>
      {% if "cucumber" in vegetables %}
              YES AVAILABLE
      {% elif "tomato" in vegetables %}
              YES AVAILABLE
      {% else %}
            NOT AVAILABLE
      {% endif %}

    </p>



 {% endblock %}